##
## The BASEURL will be use to generate a url with $BASEURL$FILE
##

BASEURL="http://bla/"

##
## Capture Providers
## - screencapture - Mac OS X Full Screen Capture
## - screencapture_select - Mac OS X Selective Capture

CAPTURE_PROVIDER=screencapture_select

##
## Clipboard providers
## - empty - don't copy the URL to the clipboard
## - pbcopy - Mac OS X

CLIPBOARD_PROVDER=pbcopy

##
## Upload Providers
## - sftp
##

UPLOAD_PROVIDER=sftp

##
## SFTP Provider
##

#SFTP_USER=kylef
#SFTP_DOMAIN=kylefuller.co.uk
#SFTP_PORT=22

## Base directory to upload file to, must end in /
#SFTP_DIR=

##
## Custom provider
## 
## Providers are just bash functions, see the following example to create your own.
##

#UPLOAD_PROVIDER=custom

#custom_provider() {
#  file_path=$1
#  new_file_name=$2
#}
